* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f8ff;
}

/* common style */


.tborder {
    border: 1px red solid;
}

.raleway-font {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;

}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.main-width {
    max-width: 1140px;
    margin: 0 auto;

}

header {
    background-image: url(./Assets/Hero-bg.png);


}

/* Nav style here */
nav {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;

}

.logo {
    font-size: 34px;
    color: rgba(78, 71, 255, 1);

}

nav .btn {
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    padding: 12px 36px;
    border-radius: 10px;


}

/* Banner style */
.banner {
    width: 905px;
    margin: 0 auto;
    text-align: center;
    padding: 158px 0px 200px 0px;
}

.banner h1 {
    font-size: 65px;
    font-weight: 700;
    color: #252432;
}

.banner button {
    font-size: 16px;
    background-color: #4E47FF;
    border-radius: 10px;
    padding: 12px 36px;
    margin-top: 37px;
    color: #FFFFFF;
    border: none;
}

main {}

/* Action section tyle */
.action-Section {
    display: flex;
    margin-top: 116px;
    margin-bottom: 116px;
    justify-content: space-between;
    align-items: center;
}

.action-Section .left {
    max-width: 517px;
}

.action-Section .left h1 {
    font-size: 42px;
    font-style: bold;
    color: #252432;

}

.action-Section .left p {
    font-size: 24px;
    color: rgba(37, 36, 50, 0.5);
    margin: 23px 0px;
    font-weight: 400;


}

.action-Section .left button {
    background-color: #4E47FF;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    max-width: 229px;
    padding: 12px 36px;
    font-style: bold;

}

.action-Section .right img {
    border-radius: 48px;
}

/* productive-Users-Section style */
.productive-Users-Section {
    padding: 50px 80px;
    background-color: #e6e8ff;
    border-radius: 24px;

}

.productive-Users-Section .title {
    text-align: center;
    font-size: 38px;
    font-style: bold;
    padding-bottom: 40px;
}

.item-container {
    display: flex;
    justify-content: space-between;
}

.item h1 {
    font-size: 80px;
    color: #4E47FF;
    font-style: bold;
}

.item p {
    font-size: 20px;
    text-align: center;
    color: #737480;
}

/* fedback section style */
.feedback-Section {
    margin-top: 137px;
    margin-bottom: 137px;
}

.fedback-heading {
    text-align: center;
    font-size: 42px;
    font-style: bold;
    padding-bottom: 50px;
}

.card-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.card-item {
    background-color: #fafcff;
    padding: 24px;
    border-radius: 14px;
}

.title-subtitle {
    padding: 24px 0px;
}

.title-subtitle h2 {
    margin-bottom: 8px;
    font-weight: 600;
}

.title-subtitle p {
    color: #1e1e1e;
    font-size: 20px;
    font-weight: 500;
}

.reviewer {
    /* border: 1px solid red; */
    display: flex;
    gap: 12px;
}

.left-img img {
    border-radius: 50%;
}

.right-text {
    line-height: 1.5;
    color: #757575;
}

.right-text h5 {
    font-size: 17px;
}

.right-text h6 {
    font-size: 15px;
    font-weight: 500;
    color: #b3b3b3;
}

/* focous-section style */
.focous-section {
    padding: 71px 150px;
    background-color: #FFFFFF;
    border-radius: 14px;
}

.top-section {
    text-align: center;
}

.top-section h1 {
    padding-bottom: 20px;
    font-size: 50px;
}

.top-section p {
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #808080;
    letter-spacing: 1px;
}

.top-section button {
    margin: 20px;
    background-color: #4E47FF;
    padding: 12px 36px;
    border-radius: 14px;
    border: none;
    color: #f5f8ff;
    font-size: 20px;
}

.bottom-section img {
    border-radius: 48px;
}

/* Touch section */
.touch-Section {
    padding-top: 71px;
    padding-bottom: 71px;
    justify-content: space-between;
    display: flex;
    align-items: center;

}

.left-side h1 {
    font-size: 97px;
    max-width: 530px;
}

form {
    width: 500px;
}

form input {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px 32px;
    width: 100%;
    border-radius: 10px;
    border: none;

}

form textarea {
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 20px 32px;
    font-size: 15px;
    width: 100%;
    border-radius: 10px;
    border: none;
}

form button {
    width: 100%;
    padding: 19px 101px;
    background-color: #4E47FF;
    border-radius: 10px;
    color: #f5f8ff;
    font-size: 16px;
}
/* Footer section style here */
.footer-Section{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
}
.footer-Section h1{
    font-size: 100px;
    color: #4E47FF;
    margin-top: 108px;
    margin-bottom: 8px;
}
.footer-Section p{
    max-width: 531px;
    color: #8987a1;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 300;
}
.list {
    padding-bottom:103px;
}
.list ul {
    display: flex;
    gap: 48px;
}
.list ul li{
    list-style: none;
    


}
.list ul li a{
    text-decoration: none;
    color:  #8987a1;
    
    
}
/* button hover */
button:hover{
    background-color: #47acff;
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.3s;
}